<div class="container">
	{{!-- Menubar with Home, Saved Articles, button -> Scrape New Articles --}}
	{{!-- Background pic with text within --}}
	{{!-- Panel warning with text -> No articles yet --}}
	{{!-- Sticky footer --}}

	{{!-- Modal window with handlebars placeholder for number of articles on scrape of website --}}
</div>