<div class="container">
	{{!-- Menubar with Home, Saved Articles --}}
	{{!-- Background / pic with text --}}
	{{!-- Handlebars code for panel generation based on articles with saved flag set --}}
	{{!-- Each panel has buttons -> Article notes, Delete from saved --}}
	{{!-- Sticky footer --}}

	{{!-- Modal that pops up on click of Article notes with handelbars code to populate if notes present --}}
</div>