* {
	box-sizing: border-box;
}

#scrapeDoneModal {
	display: none;
}

.panel-title {
	font-size: 22px;
}

.panel-body {
	font-size: 16px;
}

.panel-primary {
	border-radius: 10px;
}

button {
	outline: none !important;
}
